
body{
  background-color: #AAC0AA;
  margin: 0;
}

.headerBackground{
  background-color: whitesmoke;
  height:130px;
  width:100%; 
  top: 0px;
  position: absolute;
}

header{
  text-align: center;
  color: #A18276;
}

header h1, h2{
  font-family: 'Courier New', Courier, monospace;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

h3, p, li{
      font-family: Arial, Helvetica, sans-serif;
}

p{
 padding: 2px 0px 0px 0px;
}

footer{
    position:bottom;
    bottom:0px;
    height:30px;
    width:100%;
  text-align: center;
  background-color: whitesmoke;
}
